* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* VARIÁVEIS */

:root {
  
    /* colors */
    --hue: 243;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 100% 69%);
    --base-color-second: hsl(var(--hue) 69% 61%);
    --title-color: hsl(var(--hue) 71% 23%);
    --text-color-light: hsl(0, 0%, 85%);
    --body-font: 'Poppins', sans-serif;
}  

body {
    font-family: var(--body-font);
}

form {
    width: 360px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: capitalize;
    color: var(--title-color);
    margin: 15px 0;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon i {
    color: var(--text-color-light);
    font-size: 1.5rem;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content {
    text-align: center;
    border: none;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 25px;
    padding: 65px;
}

.avatar {
    width: 100px;
}

.login-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.input-div{
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-box {
    position: relative;
    height: 45px;
}

.input-box h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color-light);
    font-size: 18px;
    display: none;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: var(--body-font);

}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 1rem;
    transition: .3s;
}

a:hover{
    color: var(--base-color-second);
    text-decoration: underline;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: linear-gradient(to right, var(--base-color), var(--base-color-second));
    cursor: pointer;
    color: #fff;
    font-family: var(--body-font);
}

.btn:hover {
    background: var(--base-color-second);
}